<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Solupark</display-name>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>Ajoututilisateur</display-name>
    <servlet-name>Ajoututilisateur</servlet-name>
    <servlet-class>com.solupark.utilisateur.Ajoututilisateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajoututilisateur</servlet-name>
    <url-pattern>/Ajoututilisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.solupark.utilisateur.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajoutparking</display-name>
    <servlet-name>Ajoutparking</servlet-name>
    <servlet-class>com.solupark.parking.Ajoutparking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajoutparking</servlet-name>
    <url-pattern>/Ajoutparking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reserv</display-name>
    <servlet-name>Reserv</servlet-name>
    <servlet-class>com.solupark.reservation.Reserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserv</servlet-name>
    <url-pattern>/Reserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListParking</display-name>
    <servlet-name>ListParking</servlet-name>
    <servlet-class>com.solupark.parking.ListParking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListParking</servlet-name>
    <url-pattern>/ListParking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DateReserv</display-name>
    <servlet-name>DateReserv</servlet-name>
    <servlet-class>com.solupark.reservation.DateReserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateReserv</servlet-name>
    <url-pattern>/DateReserv</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>services</display-name>
    <servlet-name>services</servlet-name>
    <servlet-class>com.solupark.services.services</servlet-class>
  </servlet>
 <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/apiparkings</url-pattern>
  </servlet-mapping>
</web-app>